<p>
    <mat-card-title>Buscar na tabela FIPE</mat-card-title>
</p>
<form>
    <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <mat-select [(value)]="selectedTipo">
        <mat-option *ngFor="let tipo of tipos" [value]="tipo.nome" (openedChange)="findMarcas(selectedTipo)">
            {{tipo.nome}}
        </mat-option>
        <mat-option (openedChange)="findMarcas(selectedTipo)" style="display: none;"></mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <mat-select [(value)]="selectedMarca" (openedChange)="findMarcas(selectedTipo)">
            <mat-option *ngFor="let marca of marcas" [value]="marca.codigo">{{marca.nome}}</mat-option>
            <mat-option (openedChange)="findModelos(selectedTipo, selectedMarca)" style="display: none;"></mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Modelo</mat-label>
        <mat-select (openedChange)="findModelos(selectedTipo, selectedMarca)" [(value)]="selectedModelo">
            <mat-option *ngFor="let modelo of modelos" [value]="modelo.codigo">{{modelo.nome}}</mat-option>
            <mat-option (openedChange)="findAnos(selectedTipo, selectedMarca, selectedModelo)" style="display: none;"></mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Ano</mat-label>
        <mat-select (openedChange)="findAnos(selectedTipo, selectedMarca, selectedModelo)" [(value)]="selectedAno">
            <mat-option></mat-option>
            <mat-option *ngFor="let ano of anos" [value]="ano.codigo">{{ano.nome}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button color="primary" mat-raised-button (click)="buscar(selectedTipo, selectedMarca, selectedModelo, selectedAno)">Buscar</button>
</form>

<p></p>

<mat-card> Valor: {{ valor }} </mat-card>
